* {
    font-family: 'proxima-nova', sans-serif;
}
#content{
    /*
    width: 1250;
    height: 650px;
    */
    margin: auto;
    width: 100vw;
    height: 100vh;
}

#chart{
    /*
    width: 950px;
    height: 600px;
    */
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0px 10px;
    float: left;
}

/* Side-Panel */
#side-panel{
    width: 11vw;
    height: 100vh;
    margin-right: 10px;
    background-color: 'none';
    position: absolute;
    right: 0vw;
}

#button-selector{
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.selected-button{
    background-color: #65d36e;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    color: white;
    margin: 10px 0px 2px;
    display:block;
    width: 100%;
    border-radius: 16px;
    height: 40px;
    border-width: 2px;
    border-color: #f7f7f7;
}

.selected-button:hover{
    border-width: 2px;
    border: solid;
    border-color: #65d36e;
    transition: border-color 0.2s ease-out; 
}

.metric-button{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    text-rendering: optimizeLegibility;
    color: #65d36e;;
    margin: 10px 0 2px;
    display:block;
    width: 100%;
    border-radius: 16px;
    height: 40px;
    background-color: #f7f7f7;
    border-color: #65d36e;
    border-width: 2px;
}

.metric-button:hover{
    border-width: 4px;
    border: solid;
    border-color: #65d36e;
    transition: border-color 0.2s ease-out;
}

button:focus {outline:0;}

#tooltip {
    height: 220px;
    width: 12vw;
    position: absolute;
    text-align: center;	
    color: #f7f7f7;						
    padding: 0.5vw;				
    font-size: 14px;
    text-rendering: optimizeLegibility;
    font-family: Arial, Helvetica, sans-serif;
    background: #65d36e;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    bottom: 0px; 	
    opacity: 0;
    margin: 2vh 2vw;
    justify-content: space-between;
    align-items: center;
    left: 0
}

#tooltip span{
    text-transform: uppercase;
    margin-top: 2px;
    font-weight: bold;
}

em{
    background-color: #f7f7f7;
    color: #65d36e;
}

/* Album Nodes */
.album-node-shape{
    stroke-width: 2px;
    stroke: white
}

.album-node-shape:hover{
    stroke: white;
    stroke-width: 2px;
}

.album-node-label{
    font-size: 14px;
    text-align: center;
    text-anchor: middle;
    pointer-events: none;
    fill: #282828;
    font-weight: bold;
}

.album-node-cover{
    opacity: 0;
    pointer-events: none;
    filter: contrast(20%);
}

/* Track Nodes */
.track-node-shape{
    stroke-width: 1px;
    stroke: #727273;
}
.track-node-shape:hover{
    stroke-width: 1px;
    stroke: #595857;
}

.track-node-label{
    font-size: 10px;
    text-align: center;
    text-anchor: middle;
    pointer-events: none;
    fill: #282828;
    font-weight: bold;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    text-overflow: clip;
    max-width: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }

  img {
    width: 100%;
    height: auto;
  }

  .artist-button {
    position: relative;
    overflow: hidden;
  }

  .artist-image {
    line-height: 0;
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }

  .artist-image:hover {
    filter: blur(2px);
  }

  .artist-name {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(90,0,10,0.4);

     
    /* typographic styles */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
     
    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity .5s;
  }

  .artist-name:hover {
    opacity: 1;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }


@media only screen and (max-height: 600px) {
    #button-selector{
        height: 50%;
    }
    .metric-button{
        height: 8%;
    }
    #selected-metric-button{
        height: 25px;
    }

  }