* {
    font-family: Arial, Helvetica, sans-serif;
}
#content{
    /*
    width: 1250;
    height: 650px;
    */
    margin: auto;
    width: 100vw;
    height: 100vh;
}

#chart{
    /*
    width: 950px;
    height: 600px;
    */
    width: 87vw;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0px 10px;
    float: left;
}

/* Side-Panel */
#side-panel{
    width: 10vw;
    height: 100vh;
    margin-right: 10px;
    background-color: #F2F2F2;
    float: left;
    position: relative;
}

#button-selector{
    height: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#selected-metric-button{
    background-color: #1C618C;
    color: white;
    margin: 10px auto 10px;
    display:block;
}

#select-artist-button{
    background-color: #1C618C;
    color: white;
    margin: 10px auto 10px;
    display:block;
}

.metric-button{
    width: 90%;
    height: 35px;
    color: '#403F3E';
    background-color: #f7f7f7;
    border-radius: 8px;
    outline: none;
    border-color: #BFBFBF
}

.metric-button:hover{
    border-color:  #595857 !important;
}

#tooltip {
    height: 220px;
    width: 9vw;
    position: absolute;
    text-align: center;								
    padding: 0.5vw;				
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: #6FA0BF;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    bottom: 0px; 	
    opacity: 0;
    margin: auto 0;
}

em{
    background-color: #F2AF5C
}


/* Album Nodes */
.album-node-shape{
    stroke-width: 1px;
    stroke: #727273
}

.album-node-shape:hover{
    stroke-width: 2px;
    stroke: #595857;
}

.album-node-label{
    font-size: 14px;
    text-align: center;
    text-anchor: middle;
    pointer-events: none;
    color: '#403F3E';
    font-weight: bold;
}

.album-node-cover{
    opacity: 0;
    pointer-events: none;
    filter: contrast(20%);
}

/* Track Nodes */
.track-node-shape{
    stroke-width: 1px;
    stroke: #727273;
}
.track-node-shape:hover{
    stroke-width: 1px;
    stroke: #595857;
}

.track-node-label{
    font-size: 8px;
    text-align: center;
    text-anchor: middle;
    pointer-events: none;
    color: '#252526';
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }

  img {
    width: 100%;
    height: auto;
  }

  .artist-button {
    position: relative;
    overflow: hidden;
  }

  .artist-image {
    line-height: 0;
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }

  .artist-image:hover {
    filter: blur(2px);
  }

  .artist-name {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(90,0,10,0.4);

     
    /* typographic styles */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
     
    /* position the text centrally*/
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity .5s;
  }

  .artist-name:hover {
    opacity: 1;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }


@media only screen and (max-height: 600px) {
    #button-selector{
        height: 50%;
    }
    .metric-button{
        height: 8%;
    }
    #selected-metric-button{
        height: 25px;
    }

  }